 
/* -----------------------------------------------------------------------------

Maintainer:   jeffskinnerbox@yahoo.com / www.jeffskinnerbox.me
Version:      0.2.0

WiFi credentials - Make sure to referance 'credentials.h' in .gitignore

----------------------------------------------------------------------------- */


#pragma once                            // compiler to skip subsequent includes of this file

// wifi ssid and password
#define WIFISSID  "<my-wifi-ssid>"
#define WIFIPASS  "<my-wifi-password>"
#define WIFITIME  10000                 // attempt to connect with wifi for 10 seconds then abandon
