
/* -----------------------------------------------------------------------------

Maintainer:   jeffskinnerbox@yahoo.com / www.jeffskinnerbox.me
Version:      0.5.0

DESCRIPTION:
   This header file contains credentials, passwords, and other secrets
   needed to secure the application.

WARNING:
   Make sure to reference 'credentials.h' in .gitignore so that this
   information isn't posted to the web.

----------------------------------------------------------------------------- */


#pragma once                            // compiler to skip subsequent includes of this file

// home wifi
#define HOSTNAME  "<hostname>"          // hostname
#define WIFISSID  "<my-wifi-ssid>"      // wifi ssid
#define WIFIPASS  "<my-wifi-password>"  // wifi password (use for WPA, or use as key for WEP)
#define WIFITIME  10000                 // attempt to connect with wifi for 10 seconds then abandon

// ota upload
#define OTAHOSTNAME "<ota-hostname>"    // ota hostname
#define OTAPASSWORD "<ota-password>"    // ota password
#define OTAPORT "<ota-port>"            // ota port used for upload
